.property-page {
  .ant-table {
    td {
      &:nth-child(1) { width: 75px; }
      &:nth-child(2) { width: auto; }
      &:nth-child(3) { width: 180px; }
      &:nth-child(4) { width: 180px; }
      &:nth-child(5) { width: 180px; }
      &:nth-child(6) { width: 240px; }
      &:nth-child(7) { width: 160px; }
    }
  }
}