.add-debt {
  &__summary-table {
    border: 1px solid #f0f0f0;

    tr {
      &:first-child td {
        border-bottom: 1px solid #f0f0f0;
      }
      td {
        min-width: 160px;
        padding: 6px 20px;
        font-weight: 500;

        &:first-child {
          border-right: 1px solid #f0f0f0;
        }
      }
    }
  }
}

.delete-property-confirm-modal {
  .ant-modal-confirm-content {
    font-size: 12px !important;
  }
}
