@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
}

.ant-layout-content {
  background: #fff;
  padding: 24px;
  margin: 0;
}

td.ant-table-cell {
  vertical-align: top;
}
.ant-table-cell {
  padding: 8px 12px !important;
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item {
  height: 30px !important;
  line-height: 30px !important;
}

.ant-form-item-explain-error {
  font-size: 1.2rem;
}
